{% extends "base.html" %}

{% block head %}
<title>ShopLift | Edit product</title>
{% load static %}
<link rel="stylesheet" href="{% static 'edit_product_page.css' %}">

<style>
    .pic {
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div class="container">
    {% include "components/snackbars.html" %}
    <div class="formbox">
        <h1 style="width: 90%; height: 10%;text-align: left; margin: 2% 0% 4% 0;">Edit product</h1>
        <div style="display: flex; flex-direction: row; width: 90%; height: 80%; justify-content: center;">
            <div
                style="width: 50%; height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td title="Product Name">{{ form.product_name }}</td>
                        </tr>
                        <tr>
                            <td title="Description">{{ form.product_description }}</td>
                        </tr>
                        <tr>
                            <td title="Tags">{{ form.product_tags }}</td>
                        </tr>
                        <tr>
                            <td title="Count">{{ form.product_count }}</td>
                        </tr>
                        <tr>
                            <td title="Price">{{ form.price }}</td>
                        </tr>
                        <tr>
                            <td title="Discount">{{ form.discount }}</td>
                        </tr>
                        <tr>
                            <td><input type="file" name="image" /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="Save changes" /></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock %}