:root {
    /* --light-1: #EEEDDE;
    --light-2: #E0DDAA;
    --dark-1: #203239;
    --dark-2: #141E27; */
    --light-1: #f6f6f6;
    --light-2: #ffcb74;
    --dark-1: #111;
    --dark-2: #2f2f2f;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px var(--dark-2) solid;
}

input:active,
select:active,
textarea:active,
button:active {
    outline: 1px var(--dark-2) solid;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    /* outline: 1px solid #f00 !important; */

}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100%;


    background-color: var(--light-1);
}

.container {
    width: 100%;
    min-height: 92vh;
    height: fit-content;

    padding: 4vh 5vw;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.card {
    width: 80%;
    height: 100px;

    margin: 2% 0;
    padding: 1% 4%;

    border-radius: 15px;

    background-color: var(--light-1);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    text-decoration: none;

    color: var(--dark-1);
}

.container>form {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container>form>div>select {
    height: 100%;

    outline: 1px var(--dark-2) solid;
    margin: 0 2%;
    border-radius: 10px;
    border: 0;
    padding: 0 2%;

    background-color: var(--light-1);

    text-align: center;
    color: var(--dark-2);

}

.container>form>input[type='submit'] {
    height: 100%;
    width: 30%;

    border-radius: 10px;

    background-color: var(--dark-2);

    color: var(--light-1);

    cursor: pointer;
}