:root {
    /* --light-1: #EEEDDE;
    --light-2: #E0DDAA;
    --dark-1: #203239;
    --dark-2: #141E27; */
    --light-1: #f6f6f6;
    --light-2: #ffcb74;
    --dark-1: #111;
    --dark-2: #2f2f2f;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 1px var(--dark-2) solid;
}

input:active,
select:active,
textarea:active,
button:active {
    outline: 1px var(--dark-2) solid;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100%;

    background-color: var(--light-1);
}

.container {
    width: 100%;
    min-height: 92vh;
    height: fit-content;

    padding: 4vh 5vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.formbox {
    width: 70%;
    height: 100%;

    padding: 2% 5%;

    border-radius: 15px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--light-1);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.formbox>table {
    margin: 0;
}

td {
    padding: 5px;
}

input,
select,
button {

    height: 40px;
    width: 100%;

    outline: 1px var(--dark-2) solid;
    border-radius: 10px;
    border: 0;

    background-color: var(--light-1);

    text-align: center;
    color: var(--dark-2);
}

select>option {
    color: var(--dark-2);
}

input[type='submit'] {
    background-color: var(--dark-2);

    color: var(--light-1);

    cursor: pointer;
}

.pic {
    width: 250px;
    height: 250px;

    border-radius: 50%;
}