{% extends "base.html" %}

{% block head %}
<title>ShopLift | Your addresses</title>
{% load static %}
<link rel="stylesheet" href="{% static 'address.css' %}">
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div class="container">

    <h1>Your addresses</h1>
    <div style="display: flex; flex-direction: row; width: 68%; justify-content: flex-end;"><a
            style="color: var(--dark-1); text-decoration: underline;" href="/api/core/address/create/">Create new</a>
    </div>

    {% for address in addresses %}
    <a class="addresscard" href="/api/core/address/edit/{{ address.id }}">
        <h3>{{ address.address_name }}</h3>
        <p>{{ address.door_no }}, {{ address.street }}, {{ address.area }}</p>
        <p>{{ address.city }}, {{ address.state }}, {{ address.country }} - {{ address.pincode }}</p>
    </a>
    {% endfor %}

</div>


{% endblock %}