{% extends "base.html" %}

{% block head %}
<title>ShopLift | Edit address</title>
{% load static %}
<link rel="stylesheet" href="{% static 'address_form.css' %}">
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div class="container">
    {% include "components/snackbars.html" %}
    <div class="formbox">
        <h1 style="width: 90%; height: 10%;text-align: left;">Edit address</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2" title="Address Name">{{ form.address_name }}</td>
                </tr>
                <tr>
                    <td colspan="2" title="Door number">{{ form.door_no }}</td>
                </tr>
                <tr>
                    <td colspan="2" title="Street">{{ form.street }}</td>
                </tr>
                <tr>
                    <td colspan="2" title="Area">{{ form.area }}</td>
                </tr>
                <tr>
                    <td title="City">{{ form.city }}</td>
                    <td title="State">{{ form.state }}</td>
                </tr>
                <tr>
                    <td title="Country">{{ form.country }}</td>
                    <td title="Pincode">{{ form.pincode }}</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save changes" /></td>
                    <td><a style="border: 1px solid #ef0e0e; background-color: #f44949;"
                            href="/api/core/address/delete/{{ address_id }}/">Delete address</a></td>
                </tr>
            </table>
        </form>
    </div>

</div>


{% endblock %}