{% extends "base.html" %}

{% block head %}

<title>ShopLift</title>
{% load static %}

<link rel="stylesheet" href="{% static 'landing_page.css' %}">
<style>
    .cardimg {
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block content %}

{% include "components/navbar.html" %}

<div class="container">
    {% include "components/snackbars.html" %}
    {% if categories %}
    <div class="categories">
        {% for category in categories %}
        <a class="category" href="/api/connection/product/search/?search={{ category.title }}">{{ category.title }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% if products %}
    <div class="products">
        {% for product in products %}

        <a class="productcard" href="/api/connection/product/{{ product.product }}/">
            <div class="cardimg" style="background-image: url('/media/images/products/{{ product.product }}.jpg');">

            </div>
            <div class="cardtitle">
                <span style="width: 50%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    {{ product.product_name }}</span>
                {% if product.discount > 0 %}
                <span style="width: 50%; text-align: end;">
                    $ <span style="text-decoration: line-through; margin: 0 5px;">{{ product.price }}</span>
                    <span>{{ product.effective_price }}</span>
                </span>
                {% else %}
                <span>$ {{ product.price }}</span>
                {% endif %}
            </div>

        </a>

        {% endfor %}
    </div>

    <div class="pagenav">
        {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}">Previous</a>
        {% endif %}
        <div style="flex: 1;"></div>
        {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}">Next</a>
        {% endif %}
    </div>
    {% else %}
    <div style="padding: 10%;">
        <h1>No products</h1>
    </div>
    {% endif %}

</div>

{% endblock %}